In [1]:
import numpy as np
import pandas as pd

In [68]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [3]:
df = pd.read_csv('final_properties.csv')

In [10]:
df.head(5)

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,4 BHK Flat in Sector 72 Gurgaon,flat,tata primanti,3.90,13425.0,2905.0,Super Built up area 2905(269.88 sq.m.)Carpet a...,4,4,3+,"servant room,others","Sector 72 Gurgaon, Gurgaon, Haryana",39.0,East,1 to 5 Year Old,"['Sector 55-56 Metro Station', 'Omaxe City Cen...",Located in the popular residential address of ...,"['7 AC', '1 Modular Kitchen', 'No Bed', 'No Ch...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Green Area4 out of 5', 'Construction4 out of..."
1,5 BHK Flat in Gwal Pahari,flat,krrish provence estate,7.50,7500.0,10000.0,Super Built up area 10000(929.03 sq.m.),5,6,3+,"pooja room,servant room,others","Gwal Pahari, Gurgaon, Haryana",23.0,North-East,1 to 5 Year Old,"['Tniy Toons School', 'Pathways School Gurgoan...","It is a beautiful penthouse with 10,000/- Sqft...",NaN,"['Feng Shui / Vaastu Compliant', 'Security / F...",NaN
2,3 BHK Flat in Sector 37D Gurgaon,flat,bptp terra,1.65,8790.0,1877.0,Super Built up area 1877(174.38 sq.m.),3,3,2,not available,"Sector 37D Gurgaon, Gurgaon, Haryana",15.0,East,1 to 5 Year Old,"['Airia Mall', 'Dwarka Expressway', 'Golf Cour...",Looking for a 3 bhk property for sale in gurga...,"['1 Chimney', '2 AC', 'No Bed', 'No Curtains',...","['Security / Fire Alarm', 'Power Back-up', 'Pr...","['Green Area4.5 out of 5', 'Construction4.5 ou..."
3,4 BHK Flat in Sector 54 Gurgaon,flat,la lagune,6.75,21360.0,3160.0,Super Built up area 3160(293.57 sq.m.)Built Up...,4,6,3+,servant room,"La Lagune, Sector 54 Gurgaon, Gurgaon, Haryana",11.0,East,5 to 10 Year Old,"['Sector 54 Chowk Metro Station', 'Ardee Mall'...",Located in the popular residential address of ...,"['5 Wardrobe', '8 Fan', '5 Geyser', '1 Stove',...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Environment4 out of 5', 'Lifestyle5 out of 5..."
4,1 BHK Flat in Sohna,flat,breez global heights,0.25,7002.0,357.0,Super Built up area 414(38.46 sq.m.)Carpet are...,1,1,1,not available,"106, Sohna, Gurgaon, Haryana",1.0,NaN,1 to 5 Year Old,"['Raheja Mall', 'Golf Course Extension Road', ...",The property is registered and freehold. The b...,NaN,"['Feng Shui / Vaastu Compliant', 'Intercom Fac...","['Green Area5 out of 5', 'Construction5 out of..."

In [11]:
df.shape

(3961, 20)

In [12]:
df.duplicated().sum()

0

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3961 entries, 0 to 3960
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   property_name    3961 non-null   object
 1   property_type    3961 non-null   object
 2   society          3960 non-null   object
 3   price            3941 non-null   float64
 4   price_per_sqft   3941 non-null   float64
 5   area             3941 non-null   float64
 6   areaWithType     3961 non-null   object
 7   bedRoom          3961 non-null   int64
 8   bathroom         3961 non-null   int64
 9   balcony          3961 non-null   object
 10  additionalRoom   3961 non-null   object
 11  address          3950 non-null   object
 12  floorNum         3940 non-null   float64
 13  facing           2784 non-null   object
 14  agePossession    3960 non-null   object
 15  nearbyLocations  3754 non-null   object
 16  description      3961 non-null   object
 17  furnishDetails   2929 non-null   object
 18  features         3252 non-null   object
 19  rating           3511 non-null   object
dtypes: float64(4), int64(2), object(14)
memory usage: 619.0+ KB

In [14]:
df.isnull().sum()

property_name         0
property_type         0
society               1
price                20
price_per_sqft       20
area                 20
areaWithType          0
bedRoom               0
bathroom              0
balcony               0
additionalRoom        0
address              11
floorNum             21
facing             1177
agePossession         1
nearbyLocations     207
description           0
furnishDetails     1032
features            709
rating              450
dtype: int64

In [15]:
df.head()

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,4 BHK Flat in Sector 72 Gurgaon,flat,tata primanti,3.90,13425.0,2905.0,Super Built up area 2905(269.88 sq.m.)Carpet a...,4,4,3+,"servant room,others","Sector 72 Gurgaon, Gurgaon, Haryana",39.0,East,1 to 5 Year Old,"['Sector 55-56 Metro Station', 'Omaxe City Cen...",Located in the popular residential address of ...,"['7 AC', '1 Modular Kitchen', 'No Bed', 'No Ch...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Green Area4 out of 5', 'Construction4 out of..."
1,5 BHK Flat in Gwal Pahari,flat,krrish provence estate,7.50,7500.0,10000.0,Super Built up area 10000(929.03 sq.m.),5,6,3+,"pooja room,servant room,others","Gwal Pahari, Gurgaon, Haryana",23.0,North-East,1 to 5 Year Old,"['Tniy Toons School', 'Pathways School Gurgoan...","It is a beautiful penthouse with 10,000/- Sqft...",NaN,"['Feng Shui / Vaastu Compliant', 'Security / F...",NaN
2,3 BHK Flat in Sector 37D Gurgaon,flat,bptp terra,1.65,8790.0,1877.0,Super Built up area 1877(174.38 sq.m.),3,3,2,not available,"Sector 37D Gurgaon, Gurgaon, Haryana",15.0,East,1 to 5 Year Old,"['Airia Mall', 'Dwarka Expressway', 'Golf Cour...",Looking for a 3 bhk property for sale in gurga...,"['1 Chimney', '2 AC', 'No Bed', 'No Curtains',...","['Security / Fire Alarm', 'Power Back-up', 'Pr...","['Green Area4.5 out of 5', 'Construction4.5 ou..."
3,4 BHK Flat in Sector 54 Gurgaon,flat,la lagune,6.75,21360.0,3160.0,Super Built up area 3160(293.57 sq.m.)Built Up...,4,6,3+,servant room,"La Lagune, Sector 54 Gurgaon, Gurgaon, Haryana",11.0,East,5 to 10 Year Old,"['Sector 54 Chowk Metro Station', 'Ardee Mall'...",Located in the popular residential address of ...,"['5 Wardrobe', '8 Fan', '5 Geyser', '1 Stove',...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Environment4 out of 5', 'Lifestyle5 out of 5..."
4,1 BHK Flat in Sohna,flat,breez global heights,0.25,7002.0,357.0,Super Built up area 414(38.46 sq.m.)Carpet are...,1,1,1,not available,"106, Sohna, Gurgaon, Haryana",1.0,NaN,1 to 5 Year Old,"['Raheja Mall', 'Golf Course Extension Road', ...",The property is registered and freehold. The b...,NaN,"['Feng Shui / Vaastu Compliant', 'Intercom Fac...","['Green Area5 out of 5', 'Construction5 out of..."

In [16]:
df.insert(loc=3,column='sector',value=df['property_name'].str.split('in').str.get(1).str.replace('Gurgaon','').str.strip())

In [17]:
df.head()

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,...,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,4 BHK Flat in Sector 72 Gurgaon,flat,tata primanti,Sector 72,3.90,13425.0,2905.0,Super Built up area 2905(269.88 sq.m.)Carpet a...,4,4,...,"servant room,others","Sector 72 Gurgaon, Gurgaon, Haryana",39.0,East,1 to 5 Year Old,"['Sector 55-56 Metro Station', 'Omaxe City Cen...",Located in the popular residential address of ...,"['7 AC', '1 Modular Kitchen', 'No Bed', 'No Ch...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Green Area4 out of 5', 'Construction4 out of..."
1,5 BHK Flat in Gwal Pahari,flat,krrish provence estate,Gwal Pahari,7.50,7500.0,10000.0,Super Built up area 10000(929.03 sq.m.),5,6,...,"pooja room,servant room,others","Gwal Pahari, Gurgaon, Haryana",23.0,North-East,1 to 5 Year Old,"['Tniy Toons School', 'Pathways School Gurgoan...","It is a beautiful penthouse with 10,000/- Sqft...",NaN,"['Feng Shui / Vaastu Compliant', 'Security / F...",NaN
2,3 BHK Flat in Sector 37D Gurgaon,flat,bptp terra,Sector 37D,1.65,8790.0,1877.0,Super Built up area 1877(174.38 sq.m.),3,3,...,not available,"Sector 37D Gurgaon, Gurgaon, Haryana",15.0,East,1 to 5 Year Old,"['Airia Mall', 'Dwarka Expressway', 'Golf Cour...",Looking for a 3 bhk property for sale in gurga...,"['1 Chimney', '2 AC', 'No Bed', 'No Curtains',...","['Security / Fire Alarm', 'Power Back-up', 'Pr...","['Green Area4.5 out of 5', 'Construction4.5 ou..."
3,4 BHK Flat in Sector 54 Gurgaon,flat,la lagune,Sector 54,6.75,21360.0,3160.0,Super Built up area 3160(293.57 sq.m.)Built Up...,4,6,...,servant room,"La Lagune, Sector 54 Gurgaon, Gurgaon, Haryana",11.0,East,5 to 10 Year Old,"['Sector 54 Chowk Metro Station', 'Ardee Mall'...",Located in the popular residential address of ...,"['5 Wardrobe', '8 Fan', '5 Geyser', '1 Stove',...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Environment4 out of 5', 'Lifestyle5 out of 5..."
4,1 BHK Flat in Sohna,flat,breez global heights,Sohna,0.25,7002.0,357.0,Super Built up area 414(38.46 sq.m.)Carpet are...,1,1,...,not available,"106, Sohna, Gurgaon, Haryana",1.0,NaN,1 to 5 Year Old,"['Raheja Mall', 'Golf Course Extension Road', ...",The property is registered and freehold. The b...,NaN,"['Feng Shui / Vaastu Compliant', 'Intercom Fac...","['Green Area5 out of 5', 'Construction5 out of..."

In [18]:
df['sector'] = df['sector'].str.lower()

In [19]:
df.head()

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,...,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,4 BHK Flat in Sector 72 Gurgaon,flat,tata primanti,sector 72,3.90,13425.0,2905.0,Super Built up area 2905(269.88 sq.m.)Carpet a...,4,4,...,"servant room,others","Sector 72 Gurgaon, Gurgaon, Haryana",39.0,East,1 to 5 Year Old,"['Sector 55-56 Metro Station', 'Omaxe City Cen...",Located in the popular residential address of ...,"['7 AC', '1 Modular Kitchen', 'No Bed', 'No Ch...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Green Area4 out of 5', 'Construction4 out of..."
1,5 BHK Flat in Gwal Pahari,flat,krrish provence estate,gwal pahari,7.50,7500.0,10000.0,Super Built up area 10000(929.03 sq.m.),5,6,...,"pooja room,servant room,others","Gwal Pahari, Gurgaon, Haryana",23.0,North-East,1 to 5 Year Old,"['Tniy Toons School', 'Pathways School Gurgoan...","It is a beautiful penthouse with 10,000/- Sqft...",NaN,"['Feng Shui / Vaastu Compliant', 'Security / F...",NaN
2,3 BHK Flat in Sector 37D Gurgaon,flat,bptp terra,sector 37d,1.65,8790.0,1877.0,Super Built up area 1877(174.38 sq.m.),3,3,...,not available,"Sector 37D Gurgaon, Gurgaon, Haryana",15.0,East,1 to 5 Year Old,"['Airia Mall', 'Dwarka Expressway', 'Golf Cour...",Looking for a 3 bhk property for sale in gurga...,"['1 Chimney', '2 AC', 'No Bed', 'No Curtains',...","['Security / Fire Alarm', 'Power Back-up', 'Pr...","['Green Area4.5 out of 5', 'Construction4.5 ou..."
3,4 BHK Flat in Sector 54 Gurgaon,flat,la lagune,sector 54,6.75,21360.0,3160.0,Super Built up area 3160(293.57 sq.m.)Built Up...,4,6,...,servant room,"La Lagune, Sector 54 Gurgaon, Gurgaon, Haryana",11.0,East,5 to 10 Year Old,"['Sector 54 Chowk Metro Station', 'Ardee Mall'...",Located in the popular residential address of ...,"['5 Wardrobe', '8 Fan', '5 Geyser', '1 Stove',...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Environment4 out of 5', 'Lifestyle5 out of 5..."
4,1 BHK Flat in Sohna,flat,breez global heights,sohna,0.25,7002.0,357.0,Super Built up area 414(38.46 sq.m.)Carpet are...,1,1,...,not available,"106, Sohna, Gurgaon, Haryana",1.0,NaN,1 to 5 Year Old,"['Raheja Mall', 'Golf Course Extension Road', ...",The property is registered and freehold. The b...,NaN,"['Feng Shui / Vaastu Compliant', 'Intercom Fac...","['Green Area5 out of 5', 'Construction5 out of..."

In [20]:
df['sector'].value_counts()

sector
sohna                 163
sector 102            113
sector 85             110
sector 92             104
sector 69              94
                     ...
kanahi                  1
sai kunj                1
pataudi road            1
new jyoti park          1
b1 block sector 57      1
Name: count, Length: 301, dtype: int64

In [21]:
df['sector'] = df['sector'].str.replace('dharam colony','sector 12')
df['sector'] = df['sector'].str.replace('krishna colony','sector 7')
df['sector'] = df['sector'].str.replace('suncity','sector 54')
df['sector'] = df['sector'].str.replace('prem nagar','sector 13')
df['sector'] = df['sector'].str.replace('mg road','sector 28')
df['sector'] = df['sector'].str.replace('gandhi nagar','sector 28')
df['sector'] = df['sector'].str.replace('laxmi garden','sector 11')
df['sector'] = df['sector'].str.replace('shakti nagar','sector 11')

In [22]:
df['sector'] = df['sector'].str.replace('baldev nagar','sector 7')
df['sector'] = df['sector'].str.replace('shivpuri','sector 7')
df['sector'] = df['sector'].str.replace('garhi harsaru','sector 17')
df['sector'] = df['sector'].str.replace('imt manesar','manesar')
df['sector'] = df['sector'].str.replace('adarsh nagar','sector 12')
df['sector'] = df['sector'].str.replace('shivaji nagar','sector 11')
df['sector'] = df['sector'].str.replace('bhim nagar','sector 6')
df['sector'] = df['sector'].str.replace('madanpuri','sector 7')

In [23]:
df['sector'] = df['sector'].str.replace('saraswati vihar','sector 28')
df['sector'] = df['sector'].str.replace('arjun nagar','sector 8')
df['sector'] = df['sector'].str.replace('ravi nagar','sector 9')
df['sector'] = df['sector'].str.replace('vishnu garden','sector 105')
df['sector'] = df['sector'].str.replace('bhondsi','sector 11')
df['sector'] = df['sector'].str.replace('surya vihar','sector 21')
df['sector'] = df['sector'].str.replace('devilal colony','sector 9')
df['sector'] = df['sector'].str.replace('valley view estate','gwal pahari')

In [24]:
df['sector'] = df['sector'].str.replace('mehrauli  road','sector 14')
df['sector'] = df['sector'].str.replace('jyoti park','sector 7')
df['sector'] = df['sector'].str.replace('ansal plaza','sector 23')
df['sector'] = df['sector'].str.replace('dayanand colony','sector 6')
df['sector'] = df['sector'].str.replace('sushant lok phase 2','sector 55')
df['sector'] = df['sector'].str.replace('chakkarpur','sector 28')
df['sector'] = df['sector'].str.replace('greenwood city','sector 45')
df['sector'] = df['sector'].str.replace('subhash nagar','sector 12')

In [25]:
df['sector'] = df['sector'].str.replace('sohna road road','sohna road')
df['sector'] = df['sector'].str.replace('malibu town','sector 47')
df['sector'] = df['sector'].str.replace('surat nagar 1','sector 104')
df['sector'] = df['sector'].str.replace('new colony','sector 7')
df['sector'] = df['sector'].str.replace('mianwali colony','sector 12')
df['sector'] = df['sector'].str.replace('jacobpura','sector 12')
df['sector'] = df['sector'].str.replace('rajiv nagar','sector 13')
df['sector'] = df['sector'].str.replace('ashok vihar','sector 3')

In [26]:
df['sector'] = df['sector'].str.replace('dlf phase 1','sector 26')
df['sector'] = df['sector'].str.replace('nirvana country','sector 50')
df['sector'] = df['sector'].str.replace('palam vihar','sector 2')
df['sector'] = df['sector'].str.replace('dlf phase 2','sector 25')
df['sector'] = df['sector'].str.replace('sushant lok phase 1','sector 43')
df['sector'] = df['sector'].str.replace('laxman vihar','sector 4')
df['sector'] = df['sector'].str.replace('dlf phase 4','sector 28')
df['sector'] = df['sector'].str.replace('dlf phase 3','sector 24')

In [27]:
df['sector'] = df['sector'].str.replace('sushant lok phase 3','sector 57')
df['sector'] = df['sector'].str.replace('dlf phase 5','sector 43')
df['sector'] = df['sector'].str.replace('rajendra park','sector 105')
df['sector'] = df['sector'].str.replace('uppals southend','sector 49')
df['sector'] = df['sector'].str.replace('sohna','sohna road')
df['sector'] = df['sector'].str.replace('ashok vihar phase 3 extension','sector 5')
df['sector'] = df['sector'].str.replace('south city 1','sector 41')
df['sector'] = df['sector'].str.replace('ashok vihar phase 2','sector 5')

In [28]:
a = df['sector'].value_counts()[df['sector'].value_counts() >= 3]
df = df[df['sector'].isin(a.index)]

In [29]:
df['sector'].value_counts()

sector
sohna road     163
sector 102     113
sector 85      110
sector 92      104
sector 69       94
              ...
maruti kunj      3
sector 17a       3
sector 73        3
sector 88b       3
sector 27        3
Name: count, Length: 131, dtype: int64

In [30]:
df['sector'] = df['sector'].str.replace('sector 95a','sector 95')
df['sector'] = df['sector'].str.replace('sector 23a','sector 23')
df['sector'] = df['sector'].str.replace('sector 12a','sector 12')
df['sector'] = df['sector'].str.replace('sector 3a','sector 3')
df['sector'] = df['sector'].str.replace('sector 110 a','sector 110')
df['sector'] = df['sector'].str.replace('patel nagar','sector 15')
df['sector'] = df['sector'].str.replace('a block sector 43','sector 43')
df['sector'] = df['sector'].str.replace('maruti kunj','sector 12')
df['sector'] = df['sector'].str.replace('b block sector 43','sector 43')

In [31]:
df['sector'] = df['sector'].str.replace('sector-33 sohna road','sector 33')
df['sector'] = df['sector'].str.replace('sector 1 manesar','manesar')
df['sector'] = df['sector'].str.replace('sector 4 phase 2','sector 4')
df['sector'] = df['sector'].str.replace('sector 1a manesar','manesar')
df['sector'] = df['sector'].str.replace('c block sector 43','sector 43')
df['sector'] = df['sector'].str.replace('sector 89 a','sector 89')
df['sector'] = df['sector'].str.replace('sector 2 extension','sector 2')
df['sector'] = df['sector'].str.replace('sector 36 sohna road','sector 36')

In [32]:
df[df['sector'] == 'new']

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,...,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
447,2 BHK Flat in New Gurgaon,flat,takshila heights sector 37 c,new,0.67,5583.0,1200.0,Super Built up area 1200(111.48 sq.m.),2,2,...,not available,"New Gurgaon, Gurgaon, Haryana",3.0,NaN,1 to 5 Year Old,"['Shri Balaji Hospital and Trauma Center', 'S....",Check out this 2 bhk apartment for sale in tak...,[],"['Lift(s)', 'Swimming Pool', 'Visitor Parking'...",NaN
3312,2 BHK Flat in New Gurgaon,flat,green court,new,0.38,5507.0,690.0,Carpet area: 690 (64.1 sq.m.),2,2,...,not available,"New Gurgaon, Gurgaon, Haryana",7.0,NaN,Under Construction,"['Ing bank ATM', 'Dcb bank ATM', 'Indus ind ba...",We are the proud owners of this 2 bhk apartmen...,[],"['Intercom Facility', 'Lift(s)', 'Maintenance ...",NaN
3440,4 BHK Flat in New Gurgaon,flat,sare homes,new,0.85,4786.0,1776.0,Super Built up area 1776(165 sq.m.),4,4,...,not available,"New Gurgaon, Gurgaon, Haryana",3.0,NaN,5 to 10 Year Old,"['Columbia Asia Hospital', 'Apex Multi Special...",Located in the popular residential address of ...,[],NaN,NaN
3918,4 BHK Flat in New Gurgaon,flat,dlf 76,new,4.00,11428.0,3500.0,Carpet area: 3500 (325.16 sq.m.),4,4,...,"study room,servant room","New Gurgaon, Gurgaon, Haryana",4.0,NaN,Jun-27,"['Shri Balaji Hospital and Trauma Center', 'S....",This lovely 4 bhk apartment/flat in new gurgao...,"['6 Wardrobe', '1 Fridge', '8 Fan', '1 Exhaust...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...",NaN

In [33]:
df.loc[955,'sector'] = 'sector 37'
df.loc[2800,'sector'] = 'sector 92'
df.loc[2838,'sector'] = 'sector 90'
df.loc[2857,'sector'] = 'sector 76'

In [34]:
df[df['sector'] == 'new sector 2']

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,...,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
420,2 Bedroom House for sale in New Palam Vihar,house,my home,new sector 2,0.34,12592.0,270.0,Plot area 270(25.08 sq.m.),2,2,...,not available,"Ez-19 A, New Palam Vihar, Gurgaon, Haryana",3.0,West,5 to 10 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",There are availability of various facilities l...,"['1 Wardrobe', '3 Fan', '6 Light', 'No AC', 'N...","['Water Storage', 'Park', 'Visitor Parking']","['Environment4 out of 5', 'Lifestyle4 out of 5..."
1474,2 BHK Flat in New Palam Vihar,flat,my home,new sector 2,0.22,4400.0,500.0,Carpet area: 500 (46.45 sq.m.),2,2,...,not available,"New Palam Vihar, Gurgaon, Haryana",1.0,NaN,0 to 1 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",Cctv surveillance are provided here. There is ...,"['3 Fan', '1 Exhaust Fan', '15 Light', '1 Modu...",NaN,"['Safety4 out of 5', 'Lifestyle4 out of 5', 'E..."
3054,2 BHK Flat in New Palam Vihar,flat,ompee k s residency,new sector 2,1.60,26936.0,594.0,Carpet area: 66 (55.18 sq.m.),2,2,...,not available,"New Palam Vihar, Gurgaon, Haryana",1.0,NaN,1 to 5 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",We are the proud owners of this 2 bhk apartmen...,NaN,NaN,"['Environment4 out of 5', 'Safety4 out of 5', ..."
3847,3 Bedroom House for sale in New Palam Vihar,house,independent,new sector 2,1.00,8796.0,1137.0,Plot area 120(100.34 sq.m.)Built Up area: 120 ...,3,2,...,pooja room,"Q-148, New Palam Vihar, Phase-2, Near Royal Oa...",1.0,North,10+ Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...","Ground and first floor, Ground floor: Ground f...",NaN,NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5..."
3848,2 BHK Flat in New Palam Vihar,flat,my home,new sector 2,0.28,3166.0,884.0,Carpet area: 900 (83.61 sq.m.),2,1,...,others,"F 150/b, New Palam Vihar, Gurgaon, Haryana",2.0,NaN,1 to 5 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...","2 bhk room with wooden coverd ,1 drawing room,...","['3 Wardrobe', '5 Light', '1 Chimney', '1 Modu...","['Water Storage', 'Park']","['Environment4 out of 5', 'Safety4 out of 5', ..."

In [35]:
df.loc[[311,1072,1486,3040,3875],'sector'] = 'sector 110'

In [36]:
df.shape

(3803, 21)

In [37]:
df.duplicated().sum()

0

In [38]:
df.head()

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,...,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,4 BHK Flat in Sector 72 Gurgaon,flat,tata primanti,sector 72,3.90,13425.0,2905.0,Super Built up area 2905(269.88 sq.m.)Carpet a...,4,4,...,"servant room,others","Sector 72 Gurgaon, Gurgaon, Haryana",39.0,East,1 to 5 Year Old,"['Sector 55-56 Metro Station', 'Omaxe City Cen...",Located in the popular residential address of ...,"['7 AC', '1 Modular Kitchen', 'No Bed', 'No Ch...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Green Area4 out of 5', 'Construction4 out of..."
1,5 BHK Flat in Gwal Pahari,flat,krrish provence estate,gwal pahari,7.50,7500.0,10000.0,Super Built up area 10000(929.03 sq.m.),5,6,...,"pooja room,servant room,others","Gwal Pahari, Gurgaon, Haryana",23.0,North-East,1 to 5 Year Old,"['Tniy Toons School', 'Pathways School Gurgoan...","It is a beautiful penthouse with 10,000/- Sqft...",NaN,"['Feng Shui / Vaastu Compliant', 'Security / F...",NaN
2,3 BHK Flat in Sector 37D Gurgaon,flat,bptp terra,sector 37d,1.65,8790.0,1877.0,Super Built up area 1877(174.38 sq.m.),3,3,...,not available,"Sector 37D Gurgaon, Gurgaon, Haryana",15.0,East,1 to 5 Year Old,"['Airia Mall', 'Dwarka Expressway', 'Golf Cour...",Looking for a 3 bhk property for sale in gurga...,"['1 Chimney', '2 AC', 'No Bed', 'No Curtains',...","['Security / Fire Alarm', 'Power Back-up', 'Pr...","['Green Area4.5 out of 5', 'Construction4.5 ou..."
3,4 BHK Flat in Sector 54 Gurgaon,flat,la lagune,sector 54,6.75,21360.0,3160.0,Super Built up area 3160(293.57 sq.m.)Built Up...,4,6,...,servant room,"La Lagune, Sector 54 Gurgaon, Gurgaon, Haryana",11.0,East,5 to 10 Year Old,"['Sector 54 Chowk Metro Station', 'Ardee Mall'...",Located in the popular residential address of ...,"['5 Wardrobe', '8 Fan', '5 Geyser', '1 Stove',...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Environment4 out of 5', 'Lifestyle5 out of 5..."
4,1 BHK Flat in Sohna,flat,breez global heights,sohna road,0.25,7002.0,357.0,Super Built up area 414(38.46 sq.m.)Carpet are...,1,1,...,not available,"106, Sohna, Gurgaon, Haryana",1.0,NaN,1 to 5 Year Old,"['Raheja Mall', 'Golf Course Extension Road', ...",The property is registered and freehold. The b...,NaN,"['Feng Shui / Vaastu Compliant', 'Intercom Fac...","['Green Area5 out of 5', 'Construction5 out of..."

In [39]:
# features to drop -> property_name, address, description, rating
df.drop(columns=['property_name', 'address', 'description', 'rating'],inplace=True)

In [40]:
df.sample(5)

,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,floorNum,facing,agePossession,nearbyLocations,furnishDetails,features
883,flat,chd avenue,sector 71,1.25,6597.0,1895.0,Super Built up area 1743(161.93 sq.m.),3,4,2,"pooja room,study room,servant room,others",14.0,North-East,1 to 5 Year Old,"['Huda City Centre', 'Apna Mart', 'Rajiv Chowk...","['7 Fan', '1 Fridge', '1 Exhaust Fan', '3 Geys...","['Security / Fire Alarm', 'Feng Shui / Vaastu ..."
956,flat,dlf regal gardens,sector 90,1.27,5499.0,2310.0,Super Built up area 1755(163.04 sq.m.)Built Up...,3,3,3+,others,2.0,South-West,1 to 5 Year Old,"['SS Omnia, Sector 86', 'Numberdar market, IMT...",NaN,"['Feng Shui / Vaastu Compliant', 'Security / F..."
3891,flat,bestech park view grand spa,sector 81,2.35,8834.0,2660.0,Super Built up area 2660(247.12 sq.m.)Carpet a...,3,4,3+,servant room,6.0,North-East,1 to 5 Year Old,"['Sapphire 83 Mall', 'NH-8, IMT Manesar', 'Dwa...","['5 Wardrobe', '7 Fan', '1 Exhaust Fan', '20 L...","['Security / Fire Alarm', 'Power Back-up', 'Fe..."
680,flat,la vida by tata housing,sector 113,1.32,10344.0,1276.0,Super Built up area 1276(118.54 sq.m.)Built Up...,2,2,2,not available,3.0,North-East,1 to 5 Year Old,"['Dwarka Sector 21', 'Pacific D21 Mall', 'Bajg...","['2 Geyser', 'No AC', 'No Bed', 'No Chimney', ...","['Feng Shui / Vaastu Compliant', 'Security / F..."
2936,flat,unitech heritage city,sector 14,4.26,13108.0,3250.0,Built Up area: 3250 (301.93 sq.m.),4,4,0,not available,9.0,NaN,undefined,"['Mg road metro station', 'Iffco chowk metro s...","['1 Wardrobe', '1 Fan', '1 Light', 'No AC', 'N...",NaN

In [41]:
# feature engineering required -> areaWithType, additionalRoom, facing, agePossession, furnishDetails, features

In [42]:
df.duplicated().sum()

121

In [43]:
df.to_csv('final_properties_cleaned_v1.csv',index=False)